<!-- 上传文件到指定的ID号空间，自定义文件名 -->
<style>
        .progress{
          margin-top:2px;
          width: 200px;
          height: 14px;
          margin-bottom: 10px;
          overflow: hidden;
          background-color: #f5f5f5;
          border-radius: 4px;
          -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
          box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
      }
      .progress-bar{ 
          background-color: rgb(92, 184, 92);
          background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.14902) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.14902) 50%, rgba(255, 255, 255, 0.14902) 75%, transparent 75%, transparent);
          background-size: 40px 40px;
          box-shadow: rgba(0, 0, 0, 0.14902) 0px -1px 0px 0px inset;
          box-sizing: border-box;
          color: rgb(255, 255, 255);
          display: block;
          float: left; 
          font-size: 12px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          transition-delay: 0s;
          transition-duration: 0.6s;
          transition-property: width;
          transition-timing-function: ease;
          width: 266.188px;
      }
  </style>
    <div class="layui-form" lay-filter="layuiadmin-app-oss-fileupload-space" id="layuiadmin-app-oss-fileupload-space" style="padding: 20px 30px 0 0;">
      <script type="text/html" template>
        <!-- 自定义参数 -->
        <input type="hidden" id="cmsoperate" name="cmsoperate" value="{{ d.params.operate || 8 }}">
        <!-- 操作类型 -->
        <input type="hidden" id="cmsuplodspaceid" name="cmsuplodspaceid" value="{{ d.params.spaceid}}">
        <!-- ID号,例如活动ID号等 -->
        <input type="hidden" id="cmsuplodfilename" name="cmsuplodfilename" value="{{d.params.filename}}">
      </script>
      <script type="text/html" template>
        <input type="hidden" id="cmsupfiles" name="cmsupfiles"  value="">
      </script>
      <br>
      <h4>您所选择的文件列表：</h4>
      <div id="ossfile">你的浏览器不支持flash,Silverlight或者HTML5！</div>
      
      <br/>
      
      <div class="layui-form-item">
          <div id="container">
              <!-- <a id="selectfiles" href="javascript:void(0);" class='btn'>选择文件</a>
              <a id="postfiles" href="javascript:void(0);" class='btn'>开始上传</a> -->
              <button class="layui-btn" id="selectfiles" onclick="javascript:void(0);">选择文件</button>
              <button class="layui-btn" id="postfiles" onclick="javascript:void(0);">开始上传</button>
          </div>
      </div>
      <br/>
      <pre id="console"></pre>
      
      <p>&nbsp;</p>
      
      <div class="layui-form-item">
        <div class="layui-input-inline">
          <input type="button" lay-submit lay-filter="layuiadmin-app-oss-fileupload-space-submit" value="确认" class="layui-btn">
        </div>
      </div>
    </div>
    <script type="text/javascript" src="../src/lib/file/plupload.full.min.js"></script>
    <script type="text/javascript" src="../src/lib/file/upload.js"></script>
    <script type="text/javascript" src="../src/lib/file/md5.js"></script>