<!-- <link rel="stylesheet" href="layui/css/layui.css"> -->
  <link rel="stylesheet" href="layui/css/dtree/dtree.css">
  <link rel="stylesheet" href="layui/css/dtree/font/dtreefont.css">
  
  <title>分类管理</title>
  
  <div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
      <a>内容</a>
      <a><cite>分类</cite></a>
      <a><cite>提示:双击节点编辑</cite></a>
    </div>
  </div>
  <div class="layui-fluid">
    <div class="layui-card">
    <div class="layui-card-body">
      <div style="padding-bottom: 10px;">
        <button class="layui-btn layuiadmin-btn-list" data-type="add">添加根节点</button>
      </div>
      <div style="padding-bottom: 10px;">
        <ul id="demoTree" class="dtree" data-id="0"></ul>
      </div>
    </div>
  </div>
  <div id='edit' style = "display : none">
    <form class="layui-form layui-form-pane" lay-filter="dtree_addNode_form">
      <div class="layui-form-item"><label class="layui-form-label" title="当前选中">当前选中：</label>
        <div class="layui-input-block f-input-par"><input type="text" class="layui-input f-input" value="荆州市"
            placeholder="荆州市" lay-verify="" name="nodeTitle" readonly=""></div>
      </div>
      <div class="layui-form-item"><label class="layui-form-label" title="新增节点">新增节点：</label>
        <div class="layui-input-block f-input-par"> <input type="text" class="layui-input f-input" value=""
            placeholder="" lay-verify="required" name="addNodeName"> </div>
      </div>
      <div class="layui-form-item"><label class="layui-form-label" title="新增ID">新增ID：</label>
        <div class="layui-input-block f-input-par"> <input type="text" class="layui-input f-input" value=""
            placeholder="" lay-verify="required" name="addId"> </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block" style="margin-left:0px;text-align:center;"><button type="button"
            class="layui-btn layui-btn-normal btn-w100" lay-submit="" lay-filter="dtree_addNode_form">确认添加</button>
        </div>
      </div>
    </form>
  </div>
  <script>
    layui.use('classinfo/gftree', layui.factory('classinfo/gftree'));
  </script>