


<div class="layui-form" lay-filter="cms-user-verify-form" id="cms-user-verify-form" style="padding: 20px 30px 0 0;">
    <!-- <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">用户昵称</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="username" value="{{ d.params.username || '' }}" readonly="true" disabled="true" class="layui-input">
            </script>
        </div>
    </div> -->

    <script type="text/html" template lay-url="/api/user/verifyinfo" lay-type="post" lay-data="{userid: '{{ d.params.id || '' }}'}" lay-done="layui.data.done(d);">
        {{# if(d.data!=null){ }}
        <input type="hidden" name="id" value="{{ d.data.id || '' }}">
        <input type="hidden" name="userid" value="{{ d.data.userid || '' }}">
        <div class="layui-form-item layui-form-text">
            <div class="layui-label-container">
                <label class="layui-form-label">真实姓名</label>
                <label class="layui-form-label" style="text-align:left;width:300px">{{ d.data.realname || '' }}</label>
            </div>
        </div>
        <!-- <div class="layui-form-item layui-form-text">
            <div class="layui-label-container">
                <label class="layui-form-label">下拉列表</label>
                <select name="status">
                    <option value="">请选择标签</option>
                    <option value="0">正常</option>
                    <option value="-1">禁用</option>
                </select>
            </div>
        </div> -->
        <div class="layui-form-item layui-form-text">
            <div class="layui-label-container">
                <label class="layui-form-label">认证图片</label>
                <img src="{{ layui.setter.basehost + d.data.docurl }}" class="cms-list-img" style="width:400px;height:auto;">                
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <div class="layui-label-container">
                <label class="layui-form-label">地址</label>
                <label class="layui-form-label" style="text-align:left;width:300px">{{ d.data.address || '' }}</label>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <div class="layui-label-container">
                <label class="layui-form-label">个人介绍</label>
                <label class="layui-form-label" style="text-align:left;width:300px">{{ d.data.personalprofile || '' }}</label>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <div class="layui-label-container">
                <label class="layui-form-label">提交时间</label>
                <label class="layui-form-label" style="text-align:left;width:300px">{{ d.data.createtime || '' }}</label>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <div class="layui-label-container">
                <label class="layui-form-label">认证状态</label>
                {{# if(d.data.status===1){ }}
                <label class="layui-form-label" style="text-align:left;">待认证</label>
                {{#  } else if(d.data.status===2) { }}
                <label class="layui-form-label" style="text-align:left;">认证通过</label>
                {{#  } else { }}
                <label class="layui-form-label" style="text-align:left;">认证不通过</label>
                {{#  } }}
            </div>
        </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">审核操作</label>
        <div class="layui-input-inline">
            <div class="layui-btn-container">
                <input type="button" lay-submit lay-filter="cms-user-verify-form-submit" value="审核通过" class="layui-btn">
                <input type="button" lay-submit lay-filter="cms-user-verify-form-denied-submit" value="审核不通过" class="layui-btn layui-btn-danger">
            </div>
        </div>
    </div>
    {{# }else{ }}
    <label>没有认证数据</label>
    {{# } }}
</script>
</div>
<script>
    layui.data.done = function (d) {
        layui.use(['form'], function () {
            var form = layui.form;
            form.render(null, 'cms-user-verify-form'); //渲染该模板下的动态表单
        });
    };
    layui.use('user/verifyform', layui.factory('user/verifyform'));
</script>