<div class="layui-form" lay-filter="cms-content-dongtai-video-play-pop" id="cms-content-dongtai-video-play-pop">
    <div class="layui-form-item">
        <script type="text/html" template>
            <video width="320" height="540" controls>
                <source src="{{ d.params.momentsvideourl }}" type="video/webm">
                <object data="{{ d.params.momentsvideourl }}" width="320" height="480">
                    <embed src="{{ d.params.momentsvideourl }}" width="320" height="480">
                </object> 
            </video>
        </script>
    </div>
</div>